body{
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #606060;
}

.box,.box-X,.box-O{
  width: 100%;
  height: 90px;
  background-color: rgb(162, 167, 167);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-X{
  background-color: rgb(118, 152, 87);

}
.box-O{
  background-color: rgb(118, 152, 87);

}

.box_hover:hover{
  background-color: rgb(117, 121, 121);;
}

p{
  margin: 0;
  font-family: roboto, sans-serif;
}

.box-contant,.box-contant-X,.box-contant-O{
  font-size: 56px;
}

.box-contant-X{
  color: #FFDB58;  
}

.box-contant-O{
  color: #55DDE0;  
}


.tic-tac-tow-grid{
  display: grid;
  grid-template-columns: repeat(3, 90px);
  row-gap: 5px;
  column-gap: 5px;
  background-color: #606060;
  box-shadow: 0px 0px 3px 1px rgb(195, 201, 201);
}

.grid-container{
  background-color: #606060b3;
  padding: 100px;
  display: flex;
  justify-content: center;
  position: relative;
}

